body {
  background-image: repeating-linear-gradient(#856f1a, #9b8117 1400px);
}

h1 {
  font-size: 60px;
  font-variant-caps: unicase;
}
h5 {
  text-align: center;
  color: white;
  font-variant-caps: unicase;
}

h1,
p {
  text-align: center;
  color: white;
}

.croissant-photo {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 0px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: #241d05;
  text-decoration: none;
  font-weight: bolder;
  font-variant: small-caps;
}
